/* General styles */
body {
  color: #fbf5f3;
  margin: 0;
  padding: 0;
  background-color: #000022;
}
body::-webkit-scrollbar {
  display: none;
}

/* Header styles */
header {
  padding: 20px;
  text-align: center;
  padding-bottom: 3%;
}
nav a {
  text-decoration: none;
  margin-right: 20px;
}

Main section styles main {
  text-align: center;
}
main h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fbf5f3;
}
main p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
  color: #fbf5f3;
}

#m1 {
  text-align: center;
  padding-top: 700px;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}
.menu-item {
  flex-basis: 30%;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px #000000;
  padding: 20px;
  text-align: center;
  padding: 10px;
  background-color: #e28413;
}
.menu-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.menu-item h3 {
  color: #fbf5f3;
  font-size: 24px;
  margin-bottom: 10px;
}
.menu-item p {
  color: #fbf5f3;
  font-size: 16px;
  line-height: 1.5;
}

/* Footer styles */
footer {
  padding: 20px;
  text-align: center;
}
footer p {
  font-size: 14px;
  margin: 0;
}
#top {
  position: fixed;
  background-color: #000022;
  width: 100%;
  z-index: 1;
  transition: 0.2s;
  font-size: 20px;
  padding: 1%;
  margin: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:link {
  color: #fbf5f3;
  background-color: transparent;
  text-decoration: none;
  background: linear-gradient(to left, #000022 50%, #e28413 50%) right;
  background-size: 300%;
  transition: 0.2s ease-out;
}
a:hover {
  color: #fbf5f3;
  background-color: transparent;
  background-position: left;
  text-decoration: none;
  padding: 10px;
}
.img {
  background-image: url("../LAB 3/Assets/fresh gourmet meal.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 50%;
  float: right;
  overflow: auto;
  color: ffe100;
  text-align: center;
  margin-top: 160px;
  padding-bottom: 50px;
  object-fit: contain;
  object-position: -20% 0%;
}
.img::after {
  content: "";
  clear: both;
  display: table;
}
.text {
  width: 640px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
#text {
  padding-left: 100px;
  padding-right: 100px;
}
#pizza{
  height: auto;
}
#burger{
  height: 236px;
  width: fit-content;
}
#pasta{
  height: 236px;
  width: fit-content;
}