h3{
    text-align: left;
}
ul{
    text-align: left;
}
table{
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}
th ,td{
    border: 1px solid black;
    padding: 5px;
}
details{
    text-align: left;
}
div.details{
    text-align: left;
}
img{
    display: block;
    transition: transform .1s;
    border-radius: 5px;
}
img:hover{
    transform: scale(2.5) translate(-20%,0%);
}